.form-control {
    position: relative;
    height: 40px;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    transition: .3s ease-in-out;
}

#parent {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#child {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
    /* So the width will be 100% + 17px */
}